---
import BorderCard from "../borderCard/BorderCard";

interface Props {
  header?: string;
  body?: string;
  footer?: string;
  title: string;
  backgroundColor?: string;
}

const {
  title,
  header,
  body,
  footer,
  backgroundColor = "bg-zinc-800",
} = Astro.props;
---

<BorderCard client:load size="small" title={title}>
  <div
    class={`w-full h-full flex flex-col justify-center items-center ${backgroundColor}`}
  >
    <header
      class="text-center text-xs sm:text-xs md:text-lg xl:text-2xl text-white font-oswald opacity-80 uppercase"
    >
      {header}
    </header>
    <section
      class="text-3xl sm:text-6xl md:text-7xl xl:text-8xl text-white font-archivo-black opacity-80 uppercase"
    >
      {body}
    </section>
    <footer
      class="text-center text-xs sm:text-xs md:text-lg xl:text-2xl text-white font-oswald opacity-80 uppercase"
    >
      {footer}
    </footer>
  </div>
</BorderCard>
