---
import BorderCard from "../borderCard/BorderCard";
import IconCard from "@/components/borderCard/IconCard.astro";

interface Props {
  label: string;
  link: string;
  backgroundColor?: string;
}

const { label, link, backgroundColor = "bg-zinc-800" } = Astro.props;

import { getI18N } from "../i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const title = label.split(" ")[0];
---

<BorderCard
  client:load
  size="small"
  title={title}
  subtitle={i18n.SOCIAL_CARD.SUBTITLE}
  titleBottom={title}
>
  <a
    href={link}
    target="_blank"
    aria-label={label}
    class={`w-full h-full flex justify-center items-center ${backgroundColor}`}
  >
    <IconCard />
    <div class="w-[40%] text-slate-100">
      <slot />
    </div>
  </a>
</BorderCard>
